footer {
  width: 100%;
  margin-top: var(--space-lg);
  background: var(--bg-surface);
  padding: var(--space-lg) var(--space-md);

  a {
    text-decoration: underline;
  }
}

.footer__links {
  display: flex;
  justify-content: space-evenly;
}

.footer__copyright {
  margin-top: var(--space-md);
  text-align: center;

  div {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
  }
}
