---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post: any) =>
  post.data.tags?.includes(tag),
);
filteredPosts.sort(
  (a, b) =>
    new Date(b.data.editDate).getTime() - new Date(a.data.editDate).getTime(),
);
---

<BaseLayout pageTitle={tag}>
  <h1>Posts tagged with {tag}</h1>
  <ul>
    {
      filteredPosts.map((post: any) => (
        <BlogCard data={post.data} link={`/posts/${post.id}/`} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  h1 {
    margin-bottom: var(--space-lg);
  }
  ul {
    padding: 0;
    display: grid;
    gap: var(--space-md);
  }

  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
