---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Portfolio | Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1>404 Not Found</h1>
    <h2>Hey buddy, I think you've wander off a bit too far...</h2>
  </section>
</BaseLayout>

<style>
  section {
    display: block;
    margin: auto;
    text-align: center;
  }
</style>
