---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";

const pageTitle = "Portfolio | Blog";
const allPosts = await getCollection("blog");
const filteredPosts = allPosts.filter(
  (post: any) => !post.data.tags?.includes("project"),
);
filteredPosts.sort(
  (a, b) =>
    new Date(b.data.editDate).getTime() - new Date(a.data.editDate).getTime(),
);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blog</h1>
  <ul>
    {
      filteredPosts.map((post) => (
        <BlogCard data={post.data} link={`/posts/${post.id}/`} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  h1 {
    margin-bottom: var(--space-lg);
  }
  ul {
    padding: 0;
    display: grid;
    gap: var(--space-md);
  }

  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
