---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/public/favicon.ico" />
    <title>Blog</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h2>Home Page</h2>
    <h3>Home Page</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem fugit facere
      quaerat ullam deserunt, atque eum exercitationem corporis! Architecto,
      temporibus et labore impedit necessitatibus aperiam consequuntur ipsa
      excepturi nulla. Libero itaque pariatur minima sunt autem consequatur,
      odit impedit hic tempore, nisi praesentium atque blanditiis asperiores
      dolorum possimus! Error, deserunt laboriosam. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quis, ut facilis quidem porro impedit iure
      magni quos dolorem harum cupiditate labore, nobis laborum voluptate
      aperiam. Minima, temporibus in reiciendis ipsum totam earum tenetur
      aspernatur, distinctio blanditiis, quasi ipsa eius sequi rerum enim?
      Asperiores, dolorem quo corrupti quam eveniet eaque magnam nulla ipsa
      modi, omnis similique numquam nam aspernatur. Labore possimus id aliquam
      aspernatur commodi a nisi consectetur quis assumenda vero veniam cumque
      aperiam, rem ullam vitae quo qui facere laboriosam repellat illum officia?
      Ipsa, quis cupiditate repudiandae est aspernatur aut autem, optio
      obcaecati labore id nesciunt similique unde, repellendus et!
    </p>
  </body>
</html>
