---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Portfolio | Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, eligendi
    commodi, similique sunt numquam expedita illum nobis quasi inventore ipsum
    repellat saepe minima veniam facilis soluta assumenda tenetur sequi.
    Perspiciatis corrupti ipsum eius porro ipsam iste enim quis ex, modi
    adipisci ipsa, tenetur esse odio. Debitis rerum praesentium repellat, ex ut
    quod aspernatur accusantium sit laboriosam quos eum voluptates cupiditate
    autem vitae quam voluptatum molestiae sapiente quas asperiores? Porro
    exercitationem quidem animi eligendi officia corrupti nam, aliquam accusamus
    fugiat earum aliquid impedit saepe maxime magnam consequuntur placeat
    facilis qui autem facere ipsum neque assumenda laudantium commodi atque.
    Ipsam, accusamus amet! Lorem
  </p>
</BaseLayout>
