---
import "../styles/global.css";
import "../styles/header.css";
import { Menu, X } from "@lucide/astro";
---

<header>
    <span>
        <a href="/" class="header__logo">
            <h1>Zhou Sun</h1>
        </a>
        <button
            aria-expanded="false"
            aria-controls="header__navbar"
            class="header__menu"
        >
            <Menu id="icon__menu" />
            <X id="icon__close" />
        </button>
    </span>

    <nav id="header__navbar" class="header__nav">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/projects/">Projects</a>
    </nav>
</header>

<script>
    import "../scripts/menu.js";
</script>
